<img src = CodroidHubLogo.jpeg width = 200 height =200 align = "left">
<img src = PythonLogo.png width = 200 height =200 align = "right"> 
<h1 style="font-family:verdana;"> <center>ðŸ“š Module - 1: Python Variables ðŸ“š</center> </h1>
<p><h3> <center style="color:#0e9ee1; font-family:calibri;">Unlock Your Potential with CodroidHub Private Limited: Educational Solutions Tailored to you</center>

## Variable

A variable is a fundamental concept in any programming language. It is a reserved memory location that stores and manipulates data.

* Python is completely object oriented, and not "statically typed". 
* You do not need to declare variables before using them, or declare their type. 
* Every variable in Python is an object.

In [4]:
# Declare a varibale with following names: 19Codroidhub, Codroid-Hub, Codroid Hub 
#Answer:
Codroidhub="name"# 19Codroidhub -this is invalid variable because starting numeric value doesn't support
codroid_Hub="name" #Codroid-Hub - this is also invalid variable because cannot assign expression
codroid_hub="name"#Codroid Hub - this is invalid variable because python variable doesn't support space

In [14]:
# Declaring variables of integer type with name myvariable and Myvariable. Justify answer with error
#Answer
myvariable=10
Myvariable=5

## Variable Names

A variable can have descriptive name (age, carname, total_volume). 
- Rules for Python variables:
    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (age, Age and AGE are three different variables)
    - A variable name cannot be any of the Python keywords.

## Variable Nomenclature

* Camel Case  : Example - codroidHub
* Pascal Case : Example - CodroidHub
* Snake Case  : Example - codroid_hub

In [15]:
# Which nomenclature is followed in writing the variable names?
_camelCase="codroidhub"
_PascalCase="codroidhub"
snake_case=" codroidhub"

In [ ]:
# Write variable names using the 3 different nomenclatures.
_pythonSubject="code"
_PythonSubject="code"
python_subject="code"

In [ ]:
# Define variable of integer type with name myvariable1 and value 30 | Myvariable with 40
myvariable1=30
Myvariable=40

In [ ]:
# Is it possible to assign different values to both the variables? Why? Answer in multiline comments
"""
Yes, it is possible to assign different values to both the variables. Because python is dynamic type. It is supported.for example:
Math=Physics= 95
print( Math,Physics)
"""

In [ ]:
# Reassign "CodroidHub" as the new value to the variable - myvariable
myvariable="CodroidHub"

In [ ]:
# What will happen if we assign 'CodroidHub' to the variable - myvariable?
nothing change,it is single quotes string 'codroidHub'

In [3]:
# Is there any difference between "CodroiHub" and 'CodroidHub'?
#yes ,there are different values but they are same string values "CodroiHub" and 'CodroidHub'
myvariable="CodroiHub"
Myvariable='CodroidHub'
print(myvariable,Myvariable)

CodroiHub CodroidHub

In [ ]:
# Is there any difference between "CodroiHub" and 'CodroidHub'?

In [2]:
# Specify the type of myvariable to be string
myvariable="coderoidHub"
type(myvariable)

str

## Assigning value/values to a variable

* Single Value - Single Variable
* Single Value - Multiple Variable
* Multiple Value - Multiple Variable
* Unpacking values - Variables

In [5]:
# Assign 25.45 to variable "marks" which is of float type
marks=25.45
print(type(marks))

<class 'float'>

In [10]:
# Assign school name for following students [Amit, Sonal, Lucky, Jeetu] to "Gyan Vidhya Mandir"
students=["Amit","Sonal","Lucky","Jeetu"]
students="Gyan Vidhya Mandir"
print(students)

Gyan Vidhya Mandir

In [8]:
# Assign marks of subjects English, Hindi, Maths, Physics, Chemistry to 60,90,80,70,90 
subjects=[60,90,80,70,90]
English,Hindi,Maths,Physics,Chemistry = subjects
print(English,Physics)

60 70

In [11]:
# Assign Toppers List [Lucky, Jeetu, Sonal] to Rank1, Rank2, Rank3
Topper=["Lucky","Jeetu","Sonal"]
Rank1,Rank2,Rank3=Topper
print(Rank1,Rank2,Rank3)

Lucky Jeetu Sonal

## Printing value of Variables

* print() - often used to output variables
* print() with comma
* print() with + operator
* print() with different data types

In [12]:
# Print the value of variable marks
marks=85
print(marks)

85

In [13]:
# Print the Rank Holders i.e Student Name with Rank1, Rank2 and Rank3 using a single print()
Student_name=["Lucky","Jeetu","Sonal"]
Rank1,Rank2,Rank3=Student_name
print(Rank1,Rank2,Rank3)

Lucky Jeetu Sonal

In [14]:
# Print the following output: The first rank goes to "replace with student name"
Student_name=["Lucky","Jeetu","Sonal"]
Rank1,Rank2,Rank3=Student_name
Rank1="Hari"
print(Rank1,Rank2,Rank3)

Hari Jeetu Sonal

In [23]:
# Print the Rank and Total Marks of Rank1 (Case 1 - Using + operator)Justify your answer
"""
"""
total_marks=[80,90,95]
Lucky,Jeetu,Sonal=total_marks
Student_name=[" Lucky  ","Jeetu","Sonal"]
Rank1,Rank2,Rank3=Student_name
print(Rank1 + str(Lucky))

 Lucky  80

In [25]:
# Print the Rank and Total Marks of Rank1 (Case 1 - Using , operator)Justify your answer
total_marks=[80,90,95]
Lucky,Jeetu,Sonal=total_marks
Student_name=[" Lucky  ","Jeetu","Sonal"]
Rank1,Rank2,Rank3=Student_name
print((Rank1) - Lucky)

ValueError: invalid literal for int() with base 10: ' Lucky  '

## Global Variables

* Variables created outside function
* Accessible to all parts of the program

* Global Variable within function
* Global and Local Variable with same name
* Global Keyword
* Accessing Global Variable inside function

In [4]:
# Run this code to understand Global Variables
company = "CodroidHub"

def myfirstcourse():
  print("Welcome to" + company)

myfirstcourse()

WelcometoCodroidHub

In [5]:
# Mention in comment what is done in this code/ How this code differs from above one?
# Discuss about the both print() statements.
#above code only assign global variable and below code using both local and global variable 
company = "CodroidHub"

def myfirstcourse():
  company = "CodroidHub Pvt. Ltd."
  print("Python is " + company)#this print is local variable shows output

myfirstcourse()

print("Python is " + company)#this print is global variable shows output

Python is CodroidHub Pvt. Ltd.
Python is CodroidHub

In [28]:
# Share your thoughts and understanding 
#global keyword is make to global variable .below code local variable is global variable because use the global keyword
def myfirstcourse():
  global company
  company = "CodroidHub"

myfirstcourse()

print("Python is " + company)

Python is CodroidHub

In [26]:
# Share your thoughts and understanding 
#global keyword is make to global variable .below code local variable is global variable because use the global keyword
company = "CodroidHub"

def myfunc():
  global company
  company = "CodroidHub Pvt. Ltd."

myfunc()

print("Python is " + company)


"""
Add you understanding here
yes, I understanding global keyword. we want to change a global variable inside a function

"""

Python is CodroidHub Pvt. Ltd.

'\nAdd you understanding here\n\n'

#### Exercise:

The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "your name". The floating point number should be named myfloat and should contain the number 530.008, and the integer should be named myint and should contain your phone number.

In [29]:
mystring="Elina Shah"
myint=9822447275
myfloat=530.008
print(type(mystring))
print(type(myint))
print(type(myfloat))

<class 'str'>
<class 'int'>
<class 'float'>