In [6]:
my="name"
My='nam'
print(my)
print(My)

name
nam

In [5]:
type(my)

str

In [7]:
var="hj"
type(var)

str

In [12]:
marks=45
name=" jitu"
print(name +str(marks))

 jitu45

In [ ]:
c=[25,26,30]

In [3]:
0_9=12

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (847015410.py, line 1)

In [11]:
# Fibonacci numbers module

def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [50]:
import fib
fib(10)

TypeError: 'module' object is not callable

In [31]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [34]:
fib=10

n1,n2=0,1
count=0
if (fib==1):
    print(fib)
    print(n1)

else:
    while count<fib:
        print(n1)
        n=n1+n2
        n1=n2
        n2=n
        count +=1

0
1
1
2
3
5
8
13
21
34

In [8]:
def even(n):
    fo
    if(n/2== 0):
        return False
    else:
        return True
even(5)

True

In [27]:
import prime
result = prime.checkprime(3)
if( result==True):
    print("prime")
else:
    print("not prime")

prime

In [9]:
def even(n):
    for num1 in range(100):
        if(n%2==0):
            return True
        else:
            return False
even(21)
def evenrange(start,end):
    result=[]
    for num in range(start,end+1):
        if(n%2==0):
            result.append(num)
            return result

In [2]:
import EVEN
EVEN.even(11)

False

In [3]:
def factorial(num1):
    result=1
    for numbers in range(1,num1+1):
        result=result*numbers
    return result
factorial(5)

120

In [4]:
import odd
odd.odd(4)
odd.oddrange(9)

TypeError: oddrange() missing 1 required positional argument: 'end'

In [1]:
import EVEN
EVEN.even(5)

'it is not even'

In [5]:
import prime
prime.primerange(10-20)

TypeError: primerange() missing 1 required positional argument: 'end'

In [3]:
my_list = [1,2,3,4,3,3,3]
my_tuple=(1,2,3,4,3,3,3)
print("Original list ", List)

Original list  [1, 2, 3, 4, 3, 3, 3]

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
 
print(my_list[0]) # Output: 1
print(my_tuple[0])

In [11]:
Tuple=(1,2,3,4,5)
print("result",Tuple[2])

result 3

In [12]:
def sum(a,b): 
  print(a+b) 
    
sum(1,2)

3